# Slack MCP - Required
SLACK_MCP_XOXC_TOKEN=
SLACK_MCP_XOXD_TOKEN=
# Bearer token for SSE auth (you choose this value)
SLACK_MCP_API_KEY=

# Slack MCP - Optional
SLACK_MCP_ADD_MESSAGE_TOOL=true
SLACK_MCP_CUSTOM_TLS=true
SLACK_MCP_USER_AGENT=
